{% extends "layout.html" %}
{% block content %}

<table>
	<thead>
	<tr>
		<th><center><h1>Artist<h1></center></th>
		<th><center><h1>Date</h1></center></th>
		<th><center><h1>Venue</h1></center></th>
	</tr>
	</thead>
	<tbody>
	{% for event in items %}
		<tr>
			<td>{% for artist in event.artists %}
					{{ artist.name }} <br />
				{% endfor %}
			</td>
			<td>
				{{ event.date.day_of_week }}<br />
				{{ event.date.date }}<br />
				{{ event.date.time }}
			</td>
			<td>
				<b><a href='/venues/{{ event.venue.id }}'>{{ event.venue.name }}</a></b><br />

				{{ event.venue.address }}<br />
				{{ event.venue.city }}, {{ event.venue.state }} {{ event.venue.zipcode }}<br />

				{% if event.venue.url %}
					<a href='{{ event.venue.url }}' target='_blank'>Website</a><br />
				{% endif %}

				<a href='https://maps.google.com/?q={{event.venue.google_map_search_term}}' target='_blank'>Google Maps Link</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}